html,body{
    width: 100%;
    height: 100%;
}
.tarjeta{
    width: 40%;
    height: 40%;
    margin-left:20%;
    margin-top:10%;
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
    padding-left:5%;
    padding-right: 5% ;
}
.titulo{
    background-color: darkgrey;

}
.tarjeta img{
    width: 100%;
    height: 100%;
}
#modo{
    border-left:10%;
}