#calculadora {
    width: 600px;
    height:600px;
    background: #c2c1c1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

#lcd-value {
    width: 90%;
    height: 60px;
    background: #fff;
    text-align: right;
    padding: 10px;
    font-size: 2em;
    border-radius: 5px;
    margin-top:3%;
    margin-left:3%;
}

#botonera {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 10px;
    margin-top: 5%;
    margin-left: 10%;
}

.boton {
    width: 64px;
    height: 64px;
}
